{% extends "base.html" %}

{% block title %}
Timeline
{% endblock %}

{% block content%}
{% if posts == None or posts == []%}
<h1 class="text-muted">No Posts Yet</h1>
{% endif %}

{% if posts != None %}
{% for post in posts %}
<div class="card">
    {% if post[2] != None %}
    <div class="post-img">
        <img src="/static/img/{{ post[2] }}" class="card-img-top" />
    </div>
    {% endif %}
    <div class="card-body">
        <div class="card-title">
            <h4>{{ post[0] }}</h4>
        </div>
        <p class="text-muted">Posted on : {{ post[4] }}</p>
        <p>{{ post[1] }}</p>
    </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}

</html>